@import 'custom-reset.css';
@import 'font-awesome.min.css';
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

body {
    font-family: 'Raleway', Arial, sans-serif;
}

body:before {
    content: ' ';
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    margin-bottom: 26px;
    line-height: 1.3;
    color: #555;
    font-size: 39px;
    font-weight: 300;
    text-align: center;
}

.title--ff {
    color: #fff;
}

.subtitle {
    font-size: 17px;
    line-height: 1.66;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}

.subtitle--ff {
    color: #fff;
}

.header {
    height: 56px;
}

.header__wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    background-color: #111;
    color: #fff;
}

.header__logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    height: inherit;
    padding: 0 22px;
    text-decoration: none;
    font-size: 17px;
}

.header__menu {
    padding: 0 16px;
    color: rgba(255,255,255,.5);
    transition: color .2s;
}

.header__bar {
    margin-right: 8px;
}

.header__menu:hover {
    color: #fff;
}

.header__menu:active {
    opacity: 0.7;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    width: 346px;
    max-width: 100%;
    min-height: 100%;
    background-color: #111;
    padding: 52px 34px;
    color: rgba(255,255,255,.5);
    transform: translateX(100%);
    transition: transform .2s;
}

.nav:target {
    transform: translateX(0%);
}

.nav:target .nav__overlay {
    display: block;
}

.nav__list li > a {
    display: block;
    line-height: 60px;
    height: 60px;
    width: 100%;
    transition: color .2s;
}

.nav__list li > a:hover {
    color: #fff;
}

.nav__list li > a:active {
    opacity: 0.7;
}

.nav__list li:not(:last-child) > a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.nav__close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 21px;
    height: 56px;
    width: 120px;
    padding-right: 21px;
    transition: color .2s;
}

.nav__close:hover {
    color: #fff;
}

.nav__close:active {
    opacity: 0.7;
}

.nav__overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    right: 100%;
    top: 0;
}

.prev-ban {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 606px;
}

.prev-ban:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #111;
    height: 100%;
    width: 100%;
    opacity: 0.45;
    transition: .6s;
    animation: op2 1s forwards;
    animation-fill-mode:both;
    animation-delay: 2s;
}

.prev-ban:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    height: 100%;
    width: 100%;
    animation: op1 1s forwards;
    transition: .6s;
    animation-delay: 2s;
}

@keyframes op1 {
    to {
        opacity: .6;
    }
}


@keyframes op2 {
    to {
        opacity: .45;
    }
}

.prev-ban__desc {
    position: relative;
    z-index: 2;
    padding: 0 16px;
    text-align: center;
}

.prev-ban__title {
    font-size: 69px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #fff;
}

.prev-ban__subtitle {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.62;
}

.prev-ban__subtitle a {
    transition: color .2s;
}

.prev-ban__subtitle a:hover {
    color: #fff;
}

.prev-ban__subtitle a:active {
    opacity: 0.7;
}

.prev-ban__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.special {
    padding-top: 138px;
    padding-bottom: 104px;
}

.highlights {
    padding-top: 77px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 52px;
}

.item {
    padding: 52px;
    background: #fff;
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 3%);
    border-radius: 4px;
    text-align: center;
}

.item__icon {
    margin-bottom: 36px;
    font-size: 86px;
    color: rgb(206, 27, 40);
}

.item__title {
    font-size: 22px;
    color: rgb(85, 85, 85);
    font-weight: 300;
    margin-bottom: 26px;
}

.item__text {
    line-height: 1.65;
    color: rgb(68, 68, 68);
    font-size: 18px;
}

.desc {
    padding: 138px 0;
    background-color: #ce1b28;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url('../images/cta01.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.desc__text {
    max-width: 100%;
}